@import 'colors';


html, body {
  height: 100%;
  margin: 0;
}

body {

}

.headerImg {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.headerProfileName {
  float: left;
  margin: 12px;
}

.myContainer {
  max-width: 1125px;
}
