@import 'foundation';
@import 'colors';

body {
  background-color: $dark-blue;
}

.header {
  height: 60px;
  background-color: $orange;
}

.profilePic {
  height: 50px;
  width: 50px;
  background-color: $light-blue;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
